# Get user info for users who left a DLC review

In [2]:
import pandas as pd
import numpy as np

In [3]:
reviews = pd.read_csv('reviews_cleaned.csv', index_col=0)

In [4]:
reviews.head()

,compensation,hours,num_reviews,product_id,products,recommended,text,final_user_id,date_iso
0,0,0.0,35,642803,468.0,1,"Okay, get thisyou can open the cab's side door...",76561198067019938,2018-01-13T00:00:00
1,0,0.0,6,760610,888.0,1,Bought for the pure respect of the original pr...,76561197999899413,2018-01-12T00:00:00
2,0,0.0,37,760610,213.0,1,One of my favorite pages is 23 1920.pngThey ar...,76561198151921721,2018-01-11T00:00:00
3,0,0.0,8,779280,164.0,1,i have found my queen.,76561198141277447,2018-01-15T00:00:00
4,0,0.0,94,779280,304.0,1,Should be called: The Flat Pack,76561198067653526,2018-01-14T00:00:00

In [6]:
"Number of unique users: " + str(len(reviews.final_user_id.unique()))

'Number of unique users: 57623'

In [5]:
users = pd.read_csv('user_ids_with_reviews.txt')

In [12]:
# my steam user id: http://steamcommunity.com/id/jennh/
# http://steamcommunity.com/profiles/76561198100686325
api_key = 'your key'
# my steam id
my_id = 'your id'

In [ ]:
#owned_games = pd.Series(index = ids.index)
from urllib.request import Request, urlopen
import json

# instantiate empty dataframe for users to games mapping
users_games = pd.DataFrame()
print(users_games)

# loop through ids and get games owned
for index, row in ids.iterrows():
    url = f"""
    http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key={api_key}&steamid={row[0]}&format=json
    """

    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
    data = urlopen(req).read().decode('utf-8')
    feed = json.loads(data)
    #print(feed)
    #feed['response']['game_count']
    try:
        app_id = [feed['response']['games'][i]['appid'] for i in range(feed['response']['game_count'])]
        play_time = [feed['response']['games'][i]['playtime_forever'] for i in range(feed['response']['game_count'])]
        df = pd.DataFrame({'user_id': [row[0]]*len(app_id), 'game_id': app_id, 'playtime': play_time})
        #print(df)
        
        users_games = users_games.append(df)
        print("scraped owned games for user: " + str(row[0]))
    except:
        pass

In [8]:
users_games.head()

   game_id  play_time            user_id
0     3320        352  76561197999899413
1     3410        197  76561197999899413
2     3830        477  76561197999899413
3     4000        193  76561197999899413
4     6600         29  76561197999899413

In [9]:
np.savetxt('user_games.txt', users_games, fmt='%s')

In [12]:
import numpy as np
import pandas as pd

users_games = pd.read_csv('user_games.txt', header=None, names=['game_id','play_time','user_id'], delimiter=' ')

In [14]:
len(users_games['user_id'].unique())

18799